@model List<Alloc8_web.ViewModels.Dashboard.TableInfoViewModel>
@inject Alloc8_web.Utilities.Formatter.Formatter Formatter;
<div class="w-100 table-responsive" style="height:300px">
    <table class="table table-hover mb-0 text-center" style="overflow-y: auto;">
        <thead class="thead-light" style="position: sticky; top: 0; z-index: 1;">
            <tr>
                <th class="border-top-0">Table Name</th>
                <th class="border-top-0">No of Rows</th>
                <th class="border-top-0">Last Loged At</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count > 0)
            {
                @foreach (var data in Model)
                {
                    <tr>
                        <td><strong>@data.tableName</strong></td>
                        <td>@data.noOfRows</td>
                        <td>
                            @Formatter.time.human(data.lastLogedAt)
                        </td>

                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3" style="text-align:center">No record found!</td>
                </tr>
            }

        </tbody>
    </table>
</div>