@model List<Alloc8_web.ViewModels.EmailTemplate.EmailTemplateViewModel>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body new-user order-list">
                    @if (User.IsInRole(Alloc8_web.Utilities.WebSiteRoles.Website_Admin))
                    {
                    }
                    <h4 class="header-title mt-0 mb-3">Email Templates</h4>
                 
                    <div id="email_template_table_container" data-table>
                        @Html.Partial("table")
                    </div>
                </div><!--end card-body-->
            </div><!--end card-->
        </div> <!-- end col -->
    </div> <!-- end row -->
</div>