@model Alloc8_web.Utilities.Tile
<div class="col-lg-4" id="recentLoginTileDiv">
    <div class="card">
        <div class="card-body mb-0">
            <div class="row">
                <div class="col-8 align-self-center">
                    <div class="">
                        <h4 class="mt-0 header-title">Automated Coaching</h4>
                    </div>
                </div><!--end col-->

            </div><!--end row-->
        </div><!--end card-body-->
        <div class="card-body overflow-hidden p-0" style="height:350px">
            <div class="d-flex mb-0 h-100 dash-info-box" id="automated_coaching">
                <ul style="padding:40px;">
                    <li style="font-size:medium;">John Smith has received coaching to start the engine without a completed VEHICLE CHECK on 24-02-2024 05:20:02.</li>
                    <li style="font-size:medium;">John Smith has received coaching for driving without a completed VEHICLE CHECK on 24-02-2024 05:22:02.</li>
                    <li style="font-size:medium;">John Smith has received coaching for being onsite for over 15 minutes and hasn't completed a TGS on 24-02-2024 06:30:02.</li>
                    <li style="font-size:medium;">John Smith has received coaching for being onsite for over 25 minutes and hasn't completed a TGS on 24-02-2024 06:40:02.</li>
                    
                </ul>
            </div>
        </div><!--end card-body-->
    </div><!--end card-->
</div><!--end col-->