@model Alloc8_web.ViewModels.Account.UserChangePasswordViewModal;
@{
    ViewBag.Title = "Login";
    Layout = "~/views/shared/_Login.cshtml";
    ViewData["Title"] = "Login";
}
<style>
    .email_check_password_link {
        padding: 10px 10px 10px 10px;
        color: green;
        display: none;
    }

    .email_check_password_link_error {
        padding: 10px 10px 10px 10px;
        color: #ff2400;
        display: none;
    }
</style>
<div class="login-page">
    <div class="logo-container">
      @*   <img class="logo"
             src="~/images/ActualisationLogo.png"
             alt="Logo">
        <h4 style="font-weight:500">Creating time and space</h4> *@
    </div>
    <div class="login-container">
        <div class="login-form">
            <div class="logo">
                <img src="~/images/ActualisationLogo.png" style="height:30px" />
                <br />
                <strong>
                    Change Password
                </strong></>
            </div>
            <div class="email_check_password_link">
                <div class="alert alert-danger alert-dismissible fade show" id="valid">Password has been Changed Please Login</div>
            </div>
            <div class="email_check_password_link_error">
                <div class="alert alert-danger alert-dismissible fade show" id="invalid">Unable to change password</div>
            </div>
            <form action="/Account/changePassword" method="post" id="changePasswordModal">
                <input type="hidden" name="token" value="@Model.token" />
                <input type="hidden" name="email" value="@Model.email" />
                <br/>
                <div class="input-group">
                    <input type="text" placeholder="Email" value="@Model.email" disabled>
                </div>
                <br />
                <div class="input-group" style="position:relative">
                    <span asp-validation-for="password" class="text-danger" style="color: #dc3545 !important; "></span>
                    <input type="password" id="password" asp-for="password" name="password" placeholder="New Password" required>
                    <div style="position:absolute;right:0px;top:0px;padding:2px 4px;cursor:pointer" id="password_eye_1">
                        <div id="password_hide_1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#6e95c3" class="bi bi-eye" viewBox="0 0 16 16">
                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                            </svg>
                        </div>
                        <div id="password_show_1" style="display:none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#6e95c3" class="bi bi-eye-slash" viewBox="0 0 16 16">
                                <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z" />
                                <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829" />
                                <path d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z" />
                            </svg>
                        </div>

                    </div>
                </div>
                <br />
                <div class="input-group" style="position:relative">
                    <span asp-validation-for="password" class="text-danger" style="color: #dc3545 !important; "></span>
                    <input type="password" id="reEnteredPassword" asp-for="reEnteredPassword" name="reEnteredPassword" placeholder="Re-Enter Password" required>
                    <div style="position:absolute;right:0px;top:0px;padding:2px 4px;cursor:pointer" id="password_eye_2">
                        <div id="password_hide_2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#6e95c3" class="bi bi-eye" viewBox="0 0 16 16">
                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                            </svg>
                        </div>
                        <div id="password_show_2" style="display:none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#6e95c3" class="bi bi-eye-slash" viewBox="0 0 16 16">
                                <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z" />
                                <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829" />
                                <path d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z" />
                            </svg>
                        </div>

                    </div>
                </div>
                <br />
                <button type="submit" id="submit-button" class="btn btn-primary">Change</button>
            </form>
            <br />
            <span><a href="/Account/login">Sign In?</a></span>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#changePasswordModal').submit(function (e) {
                e.preventDefault(); // Prevent the default form submission

                // Get action and method attributes
                var action = $(this).attr('action');
                var method = $(this).attr('method');

                // Serialize the form data
                var formData = $(this).serialize();

                // Make an AJAX request
                $.ajax({
                    type: method,
                    url: action,
                    data: formData,
                    beforeSend: function () {
                        $('#submit-button').prop("disabled", true);
                        $('#submit-button').css("cursor", "not-allowed");

                        $('.email_check_password_link').css('display', 'none');
                        $('#invalid').text("");
                        $('.email_check_password_link_error').css('display', 'none');
                    },
                    success: function (data) {
                        $('.email_check_password_link').css('display', 'block');
                    },
                    complete: function (data) {
                        $('#submit-button').prop("disabled", false);
                        $('#submit-button').css("cursor", "pointer");
                    },
                    error: function (error) {
                        // Handle errors, if needed
                        if (error.responseJSON.errors) {
                            if (error.responseJSON.errors['password'] !== undefined) {
                                $('#invalid').text("The password must be at least 8 characters long and must have at least one uppercase letter, one lowercase letter, one digit, and one special character");
                            }
                            else if (error.responseJSON.errors['reEnteredPassword'] !== undefined) {
                                $('#invalid').text("Passwords do not match");
                            }
                        }
                        
                        else {
                            $('#invalid').text(error.responseJSON.message);
                        }
                        $('.email_check_password_link_error').css('display', 'block');
                    }
                });
            });
            $('#password_eye_1').click(function () {
                $("#password_hide_1").toggle();
                $("#password_show_1").toggle();
                // Toggle the password field visibility
                var passwordInput = $("#password"); // Replace "password_input" with the actual ID of your password input field
                if (passwordInput.attr("type") === "password") {
                    passwordInput.attr("type", "text");
                } else {
                    passwordInput.attr("type", "password");
                }
            });
            $('#password_eye_2').click(function () {
                $("#password_hide_2").toggle();
                $("#password_show_2").toggle();
                // Toggle the password field visibility
                var passwordInput = $("#reEnteredPassword"); // Replace "password_input" with the actual ID of your password input field
                if (passwordInput.attr("type") === "password") {
                    passwordInput.attr("type", "text");
                } else {
                    passwordInput.attr("type", "password");
                }
            });
        });
    </script>
}