@{
    ViewBag.Title = "Add User";
    Layout = "~/views/shared/_Modal.cshtml";
    ViewData["Title"] = "Add User";
}
<div class="container text-center">
        <div class="active_form">
            <h3 class="text-center">
                Active
            </h3>
            <h5 class="mt-4">This algorithm is currently active on your account.</h5>
        </div>
</div>
@section buttons{
}