@{
    ViewBag.Title = "Add User";
    Layout = "~/views/shared/_Modal.cshtml";
    ViewData["Title"] = "Add User";
}
<div class="container text-center">
        <div class="upgrade_form">
            <h3 class="text-center">
                Upgrade
            </h3>
        <h5 class="mt-4">Speak to Actualisation to upgrade your services.</h5>
        </div>
   
</div>
@section buttons{
}