
<footer class="footer text-center text-sm-left">
    @Alloc8_web.Utilities.Helper.getCurrentYear() &copy; actualisation.ai <span class="text-muted d-none d-sm-inline-block float-right">
      @*   <a href="https://www.actualisation.io/contact" class="m-nav__link"> *@
            <span class="m-nav__link-text">Contact</span>
     @*    </a> *@
        &nbsp;&nbsp;
       @*  <a href="https://www.actualisation.io/about" class="m-nav__link"> *@
            <span class="m-nav__link-text">About</span>
       @*  </a> *@
    </span>
</footer>